<section id="about">
  <div class="container">
    <div class="row">
      <!-- Profile image -->
      <div class="col-xs-12 col-md-4">
        <img class="media-object img-responsive mt" src="images/portrait.png" alt="Marianne Cornet - CORNET RECRUITMENT" /><br />

        <p><strong>Marianne Cornet</strong> | <a href=
        "http://www.linkedin.com/in/mariannecornet" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a><br /></p>
      </div>

      <!-- Profile text -->
      <div class="col-xs-12 col-md-8">
        <h2>Ervaren recruiter die<br />
        het leuk vindt om mensen<br />
        te verbinden.</h2>

        <hr />
        <div class="col-xs-12 col-md-6">
          <p>Hallo! Ik ben Marianne Cornet. Welkom bij <span class="brand"><span class="brand-highlight">Cornet</span> Recruitment</span>. Ik
          heb sinds 2008 ervaring opgedaan in corporate, (non-) profit, (inter-)
          nationaal en online recruitment voor verschillende functieniveaus en
          verschillende functieprofielen.<br />
          <br />
          Ik ben energiek en communicatief. Ik maak heldere afspraken en daar houd ik
          me aan. Ik sta voor een persoonlijke en kleinschalige aanpak: Helderheid en
          persoonlijk contact. &#39;Gewoon&#39; de juiste match maken waar zowel
          kandidaat als opdrachtgever gelukkig van worden. Ik stel graag lastige
          vragen om tot de kern te komen, drink een kop koffie met je, en wil een zo
          compleet mogelijke indruk van je bedrijf opdoen voordat ik een kandidaat
          selecteer en voorstel.<br />
          <br />
          Ik richt me voornamelijk op de werving en selectie van kandidaten voor IT,
          HR, en management functies. De functieprofielen vereisen een HBO of WO
          opleiding, en, met uitzondering van enkele IT vacatures, werk ik alleen met
          kandidaten met ruime werkervaring in hun vakgebied.<br /></p>
        </div>

        <div class="col-xs-12 col-md-6">
          <p>Mijn aanpak is uitgebreid en persoonlijk en daardoor voelen opdrachtgevers en
          kandidaten zich op hun gemak bij mij. Ik ga niet voor een schot hagel en ik
          verkoop niets, maar ik ga persoonlijk in gesprek en op zoek naar de klik.
          Mijn interviews gaan de diepte in om de persoonlijkheid en competenties van
          de kandidaat en zijn carrière nu en op 5 jaren termijn inzichtelijk te maken.
          Indien gewenst door de werkgever kan er een test (bijvoorbeeld
          persoonlijkheid, capaciteiten) of assessment van de opdrachtgever in het
          proces opgenomen worden. Hierover wordt de kandidaat van tevoren
          ingelicht.<br />
          <br />
          Opdrachtgevers spreek ik graag telefonisch om een afspraak op hun locatie
          in te plannen. Ik wil graag de werkplek, manager en collega&#39;s zien die
          bij de vacature horen. Het liefst spreek ik een medewerker die het werk
          daadwerkelijk doet, iemand van HR en wat mij betreft ook de directie. Ik
          wil als een corporate recruiter voor je kunnen werken, en zodoende wil ik
          de ins en outs van het bedrijf kennen. Alleen de beste en gemotiveerde
          kandidaten komen door mijn selectie. Voor hen ga ik door het vuur om de
          juiste match te vinden. Ik wil blije, enthousiaste kandidaten en tevreden
          werkgevers met een glimlach. Zowel bij het tekenen van hun contract als een
          half jaar later.<br /></p>
        </div>
      </div>
    </div>
  </div>
</section>
