
<section class="call-2-action">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h5 align=center>Op zoek naar een baan? Op zoek naar een kandidaat?  <br><br>
          <small><button class="btn btn-sm btn-success" type="button"> 
            <i class="fa fa-phone"></i> Bel direct</button></small>
        </h5>
      </div>
    </div>
  </div>
</section>

<footer class="row-footer" ng-controller="FooterCtrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <h5>Navigatie</h5>
        <ul class="list-unstyled">
          <li><a ui-sref="app">Home</a></li>
          <li><a ui-sref="app.jobs">Vacatures</a></li>
          <li><a ui-sref="app.services">Werkwijze</a></li>
          <li><a ui-sref="app.about">Over</a></li>
          <li><a ui-sref="app.contact">Contact</a></li>
        </ul> 
      </div>
      <div class="col-xs-6 col-sm-4">
        <h5>Vacatures</h5>
        <ul class="list-unstyled" ng-if="!showJobs">
          <li>{{message}}</li>
        </ul>
        <ul class="list-unstyled" ng-if="showJobs">
          <li ng-repeat="job in jobs | filter:{archived:false} | orderBy:'-date' | limitTo:4">
            <a href={{job.link}}>
              {{job.title}} <small>- {{job.company}}</small>
            </a>
          </li>
        </ul> 
      </div>
      <div class="col-xs-6 col-sm-4">
        <h5>Contact</h5>
        <address>
          <ul class="list-unstyled">
            <li>Cornet Recruitment</li>
            <li>Utrecht</li>
            <li><a href="+31651171846"><strong>+31 (0) 6 120 404 58</strong></a></li>
            <li><a href="mailto: marianne@cornetrecruitment.nl">marianne@cornetrecruitment.nl</a></li>
          </ul>
        </address>
      </div>
      <div class="col-xs-6 col-sm-2">
        <h5>Volgen</h5>
        <ul class="list-unstyled">
          <li><a href="http://www.linkedin.com/in/mariannecornet" target="_blank"><i class="fa fa-linkedin"></i>LinkedIn</a></li>
          <li><a href="http://twitter.com/marianne_cornet" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
        </ul>
      </div>

      <div class="col-xs-12">
        <hr>
        </div>
      <div class="col-xs-6">
        <p><small>© Copyright 2015-2016 Cornet Recruitment.</small></p>
      </div>
      <div class="col-xs-6">
        <p align=right><small>KvK nummer: 63210649 | <a href="media/av_CORNET_RECRUITMENT_20150429.pdf" target="_blank">Algemene voorwaarden</a></small></p>
      </div>
    </div>
  </div>
</footer>