<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>


  <section id="portfolio" class="grey">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Referenties</h1>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="http://www.leblancadvies.nl" target="_blank"><img src="images/logo-leblancadvies.png" class="img-responsive center-block" alt="Le Blanc Advies"></a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="http://www.werkenvoornederland.nl/ict" target="_blank"><img src="images/logo-rijksoverheid.png" class="img-responsive center-block" alt="Rijksoverheid"></a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="http://www.cmotions.nl" target="_blank"><img src="images/logo-cmotions.png" class="img-responsive center-block" alt="Cmotions"></a>
        </div>
      </div>
    </div>
  </section>
</div>
