<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Dienstverlening</h1>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <ul class="list-group">
          <li class="list-group-item">Werving &amp; Selectie voor (individuele)
          vacatures</li>
          <li class="list-group-item">Interim Recruitment</li>
          <li class="list-group-item">Outsourcing van recruitment onder jouw merknaam
          (RPO)</li>
          <li class="list-group-item">Coaching van je eigen recruitmentteam om ze te
          laten uitblinken in hun vak.</li>
          <li class="list-group-item">Advies om het recruitmentproces en
          arbeidsmarktcommunicatie te laten passen in de marketing en
          communicatiestrategie van je bedrijf.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>Mijn wervingsproces</h1>
      </div>
      <!-- 1. The meeting -->
      <div class="col-xs-12 col-md-4">
        <h3><i class="fa fa-coffee process-item"></i>De kennismaking</h3>
        <p>Graag maak ik persoonlijk kennis met je. We bespreken je wensen en bepalen
        welke rol <span class="brand"><span class="brand-highlight">Cornet</span>
        Recruitment</span> kan spelen in de werving van jouw ideale kandidaat.</p>
      </div>
      <!-- 2. The search -->
      <div class="col-xs-12 col-md-4">
        <h3><i class="fa fa-binoculars process-item"></i>De zoektocht</h3>
        <p>Nadat de eisen helder zijn, ga ik aan de slag. Jobsites, sociale media en
        eigen netwerken worden ingezet om zo spoedig mogelijk die ene kandidaat voor
        jouw organisatie te vinden.</p>
      </div>
      <!-- 3. The result -->
      <div class="col-xs-12 col-md-4">
        <h3><i class="fa fa-star process-item"></i>Het resultaat</h3>
        <p>Na een uitgebreide selectie presenteert <span class="brand"><span class=
        "brand-highlight">Cornet</span> Recruitment</span> het talent voor jouw
        organisatie.</p>
      </div>
    </div>
  </div>
</section>

<section id="divider" class="section a-divider" data-stellar-background-ratio="0.5" style="">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-xs-offset-0 col-md-offset-2">
        <h2 class="inversed centered">
          <i class="fa fa-quote-left pull-left"></i>de juiste match maken waar zowel kandidaat als opdrachtgever gelukkig van worden<i class="fa fa-quote-right pull-right"></i>
        </h2>
      </div>
    </div>
  </div>
</section>
